# Flipkart EDA assignment

## TODO: Upload csv file before moving to next

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Flipkart Data Engineering").getOrCreate()
file_path = '/FileStore/tables/Flipkart.csv' # it should path from dbfs or the full url
flipkart_df = spark.read.csv(file_path, header=True, inferSchema=True)

In [0]:
flipkart_df.printSchema()
flipkart_df.count()

root
 |-- id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- Rating: double (nullable = true)
 |-- maincateg: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- actprice1: integer (nullable = true)
 |-- norating1: integer (nullable = true)
 |-- noreviews1: integer (nullable = true)
 |-- star_5f: integer (nullable = true)
 |-- star_4f: integer (nullable = true)
 |-- star_3f: integer (nullable = true)
 |-- star_2f: integer (nullable = true)
 |-- star_1f: integer (nullable = true)
 |-- fulfilled1: integer (nullable = true)

Out[4]: 5244

In [0]:
flipkart_df.show(5)

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 2242|Casuals For Men  ...|   3.8|      Men|Flipkart|      999|    27928|      3543|  14238|   4295|   3457|   1962|   3976|         1|
|20532|Women Black Flats...|   3.9|    Women|Flipkart|      499|     3015|       404|   1458|    657|    397|    182|    321|         1|
|10648|Women Gold Wedges...|   3.9|    Women|Flipkart|      999|      449|        52|    229|     70|     71|     33|     46|         1|
|20677|Men's Height Incr...|   3.9|      Men|Flipkart|     2999|      290|        40|    141|     51|     49|     17|     32|         1|
|12593|Loafers For Men  ...|   3.9|      Men|Flipkart|      999|     2423|       326|   1265|    414|    293|    143|    308|         0|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 5 rows

In [0]:
# Display all category names

flipkart_df.select("maincateg").distinct().show()

+---------+
|maincateg|
+---------+
|     null|
|      Men|
|    Women|
+---------+

In [0]:
# Filter products with rating > 4.5 and more than 1000 reviews

flipkart_df.filter((flipkart_df["Rating"]>4.0) & (flipkart_df["noreviews1"]>100)).show()

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|13859|Women Black Wedge...|   4.2|    Women|Flipkart|      279|     3048|       487|   1746|    679|    348|    114|    161|         1|
|19453|Denill Ankle Leng...|   4.1|    Women|Flipkart|      999|     6806|       961|   3646|   1508|    810|    335|    510|         1|
| 3205|     SFG-23 Slippers|   4.1|      Men|Flipkart|      319|    12936|      1598|   7030|   2850|   1453|    587|   1016|         1|
| 7625|White casual, gym...|   4.2|      Men|Flipkart|      999|     2430|       381|   1472|    397|    251|    105|    205|         0|
|17791|Synthetic Leather...|   4.2|    Women|Flipkart|     1399|     1256|       182|    791|    212|    114|     43|     96|         1|
|15762|Running Shoes For...|   4.1|      Men|Flipkart|      999|    57372|      8254|  32715|  10686|   6362|   2806|   4803|         0|
|15247|SM-484 Casuals Fo...|   4.2|      Men|Flipkart|     1399|     2958|       436|   1685|    736|    259|    107|    171|         0|
|20247|Women Black Heels...|   4.1|    Women|Flipkart|      999|     1052|       182|    568|    248|    121|     45|     70|         1|
|10655|Women Brown Wedge...|   4.1|    Women|Flipkart|      999|     1029|       178|    563|    228|    108|     49|     79|         1|
|20918|GO WALK 5-SPARROW...|   4.3|      Men|Flipkart|     4999|     1057|       106|    664|    206|     75|     40|     72|         1|
|16193|crocs Unisex's Ra...|   4.3|    Women|  Amazon|      995|        1|       661|      8|      2|      7|     20|     62|         1|
| 8485|Men Grey Clogs Sa...|   4.1|      Men|Flipkart|      849|     1675|       328|    870|    466|    166|     60|    113|         0|
| 7561|Men Navy Sports S...|   4.2|      Men|Flipkart|      499|    17035|      2103|   9223|   4219|   1888|    614|   1091|         1|
| 9249|Women Black Wedge...|   4.2|    Women|Flipkart|      279|     3049|       487|   1745|    679|    348|    114|    161|         1|
|20597|Sneakers For Men ...|   4.1|      Men|Flipkart|      999|     4489|       597|   2673|    639|    446|    263|    468|         1|
|11078|Men Black Clogs S...|   4.2|      Men|Flipkart|     2995|    12390|      1098|   6891|   3100|   1035|    429|    935|         1|
|13151|Walking Shoes For...|   4.1|    Women|Flipkart|      999|     7100|       938|   3644|   1706|    930|    352|    468|         1|
|15716|Mojaris For Men  ...|   4.1|      Men|Flipkart|      999|      949|       106|    517|    190|    116|     47|     79|         1|
|20324|Women Pink Wedges...|   4.2|    Women|Flipkart|      999|     1797|       232|   1000|    413|    205|     83|     96|         0|
| 8184|              Slides|   4.1|    Women|Flipkart|      499|      872|       141|    459|    210|     89|     47|     67|         1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [0]:
# Display Products in 'Men' category that are fulfilled

flipkart_df.filter((flipkart_df["maincateg"]=="Men") & (flipkart_df["fulfilled1"]==1)).show()

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 2242|Casuals For Men  ...|   3.8|      Men|Flipkart|      999|    27928|      3543|  14238|   4295|   3457|   1962|   3976|         1|
|20677|Men's Height Incr...|   3.9|      Men|Flipkart|     2999|      290|        40|    141|     51|     49|     17|     32|         1|
|10680|Combo Pack Of 2 C...|   3.9|      Men|Flipkart|     2400|      824|       105|    386|    199|    106|     61|     72|         1|
|11579|MOCCASSIN Slip On...|   3.8|      Men|Flipkart|     2299|     3066|       392|   1304|    803|    462|    189|    308|         1|
|12260|Long OfficeWear C...|   3.9|      Men|Flipkart|      999|    14247|      2102|   6921|   2924|   1976|    882|   1544|         1|
| 3205|     SFG-23 Slippers|   4.1|      Men|Flipkart|      319|    12936|      1598|   7030|   2850|   1453|    587|   1016|         1|
|14489|Dark Brown Leathe...|   3.9|      Men|Flipkart|      599|      374|        55|    182|     75|     58|     20|     39|         1|
|10206|Long OfficeWear C...|   3.9|      Men|Flipkart|      999|    14253|      2103|   6924|   2925|   1977|    883|   1544|         1|
| 8920|Monk Strap For Me...|   4.2|      Men|Flipkart|     4595|      498|        58|    281|    116|     44|     23|     34|         1|
| 9762|    Men Brown Sandal|   4.6|      Men|Flipkart|      349|       20|         2|     14|      4|      2|      0|      0|         1|
|14490|Men Hawaii Flip F...|   3.7|      Men|Flipkart|      499|    13702|      1813|   6200|   2605|   1898|   1075|   1924|         1|
|15546|Men Blue Clogs Sa...|   3.7|      Men|Flipkart|     1299|     3691|       427|   1577|    813|    535|    264|    502|         1|
|10068|Java 2 IDP Flip F...|   4.1|      Men|Flipkart|     2299|      679|        61|    398|    135|     54|     31|     61|         1|
| 6052|Derby For Men  (B...|   2.8|      Men|Flipkart|     4999|       22|         1|      7|      1|      2|      5|      7|         1|
|11469|Combo pack of 2 s...|   3.6|      Men|Flipkart|      998|    24420|      2783|  11438|   3155|   3005|   2330|   4492|         1|
|20918|GO WALK 5-SPARROW...|   4.3|      Men|Flipkart|     4999|     1057|       106|    664|    206|     75|     40|     72|         1|
| 2592|Genuine Leather F...|   3.9|      Men|Flipkart|     2999|      383|        54|    187|     81|     46|     21|     48|         1|
|14541|Genuine Leather F...|   3.9|      Men|Flipkart|     2999|      383|        54|    187|     81|     46|     21|     48|         1|
| 7561|Men Navy Sports S...|   4.2|      Men|Flipkart|      499|    17035|      2103|   9223|   4219|   1888|    614|   1091|         1|
| 3369|    Men Brown Sandal|   3.9|      Men|Flipkart|     1499|       76|        12|     35|     17|     11|      4|      9|         1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [0]:
# Dsiplay number of products per category
from pyspark.sql.functions import count
flipkart_df.groupBy("maincateg").agg(count("title")).show()

+---------+------------+
|maincateg|count(title)|
+---------+------------+
|     null|          67|
|      Men|        2145|
|    Women|        3032|
+---------+------------+

In [0]:
# Display Average rating per category
from pyspark.sql.functions import avg
flipkart_df.groupBy("maincateg").agg(avg("Rating")).show()

+---------+------------------+
|maincateg|       avg(Rating)|
+---------+------------------+
|     null|             4.225|
|      Men|3.9662970106075246|
|    Women|4.0416582064297915|
+---------+------------------+

In [0]:
# Dsiplay Category with highest average number of reviews
from pyspark.sql.functions import avg
flipkart_df.groupBy("maincateg").agg(avg("noreviews1").alias("avg of reviews")).orderBy("avg of reviews",ascending=False).show(1)

+---------+-----------------+
|maincateg|   avg of reviews|
+---------+-----------------+
|      Men|759.6554778554779|
+---------+-----------------+
only showing top 1 row

In [0]:
# Top 5 products with highest price. display product name and price

flipkart_df.select("title","actprice1").orderBy("actprice1",ascending=False).show(5)

+--------------------+---------+
|               title|actprice1|
+--------------------+---------+
|GEL-QUANTUM 360 K...|    15999|
|Women Orange Spor...|    12999|
|Hybrid Astro Runn...|    10999|
|GT-2000 5 (D) Run...|    10999|
|DEERUPT RUNNER W ...|     9999|
+--------------------+---------+
only showing top 5 rows

In [0]:
# Display Min, max, and avg price per category
from pyspark.sql.functions import min, max, avg

flipkart_df.groupBy("maincateg").agg(
    min("actprice1").alias("Min Price"),
    max("actprice1").alias("Max Price"),
    avg("actprice1").alias("Average Price")
).show()

+---------+---------+---------+------------------+
|maincateg|Min Price|Max Price|     Average Price|
+---------+---------+---------+------------------+
|     null|      499|     5999|1574.7313432835822|
|      Men|      139|    10999|  1455.86013986014|
|    Women|      162|    15999|1319.7081134564644|
+---------+---------+---------+------------------+

In [0]:
# Display number of nulls in each column

from pyspark.sql.functions import col, sum, when

# Count nulls for each column
null_counts = flipkart_df.select([
    sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
    for c in flipkart_df.columns
])

null_counts.show()

+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| id|title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|  0|    0|   203|       67|       0|        0|        0|         0|     68|      0|      0|      0|    186|         0|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+

In [0]:
#calaculate and display the category name ,number of fullfilled, number of unfulilled
from pyspark.sql.functions import count, when

flipkart_df.groupBy("maincateg").agg(
    
    count(when(flipkart_df["fulfilled1"] == 1, True)).alias("Fulfilled Count"),
    count(when(flipkart_df["fulfilled1"] == 0, True)).alias("Unfulfilled Count")
).show()

+---------+---------------+-----------------+
|maincateg|Fulfilled Count|Unfulfilled Count|
+---------+---------------+-----------------+
|     null|             40|               27|
|      Men|           1352|              793|
|    Women|           1778|             1254|
+---------+---------------+-----------------+

In [0]:
# Display Count of products per category

flipkart_df.groupBy("maincateg").agg(count("title")).show()

+---------+------------+
|maincateg|count(title)|
+---------+------------+
|     null|          67|
|      Men|        2145|
|    Women|        3032|
+---------+------------+

In [0]:
# Display Average rating per category
from pyspark.sql.functions import avg
flipkart_df.groupBy("maincateg").agg(avg("Rating")).show()

+---------+------------------+
|maincateg|       avg(Rating)|
+---------+------------------+
|     null|             4.225|
|      Men|3.9662970106075246|
|    Women|4.0416582064297915|
+---------+------------------+

In [0]:
# Dsiplay Category with highest average number of reviews
from pyspark.sql.functions import avg
flipkart_df.groupBy("maincateg").agg(avg("noreviews1").alias("avg of reviews")).orderBy("avg of reviews",ascending=False).show(1)

+---------+-----------------+
|maincateg|   avg of reviews|
+---------+-----------------+
|      Men|759.6554778554779|
+---------+-----------------+
only showing top 1 row

In [0]:
# Display Bar chart of product count per category

# Use Databricks UI to visualize this as a bar chart
newdf=flipkart_df.dropna()
display(newdf.groupBy("maincateg").agg(count("title")))

maincateg,count(title)
Men,2062
Women,2932

Databricks visualization. Run in Databricks to view.

In [0]:
# Bar chart of average rating per category
from pyspark.sql.functions import avg
newdf=flipkart_df.dropna()
display(newdf.groupBy("maincateg").agg(avg("Rating")))

maincateg,avg(Rating)
Men,3.967410281280314
Women,4.041507503410653

Databricks visualization. Run in Databricks to view.

In [0]:
# Display Bar chart of total number of reviews per category
from pyspark.sql.functions import sum
newdf=flipkart_df.dropna()
display(newdf.groupBy("maincateg").agg(sum("noreviews1")))

maincateg,sum(noreviews1)
Men,1543836
Women,505578

Databricks visualization. Run in Databricks to view.

In [0]:
# Display product name and 5 star rating for those products which have highest 5 star rating

from pyspark.sql.functions import max

flipkart_df.select("title", "star_5f").groupBy("title").agg(max("star_5f").alias("max_star_5f")).orderBy("max_star_5f", ascending=False).show()

+--------------------+-----------+
|               title|max_star_5f|
+--------------------+-----------+
|Jio-13 Running Sh...|     151193|
|Running Shoes For...|     151193|
|Jio-13 Running Sh...|     151159|
|VERTIGO BLK RUNNI...|      66369|
|Cosko Sports Shoe...|      64987|
|    Men Olive Sandal|      61722|
|Men Brown, Beige ...|      61722|
|Oxygen Running Sh...|      55231|
|Boxer-303 Sneaker...|      54272|
|Mesh,Cricket, Bad...|      45128|
|Mesh,Cricket, Bad...|      45128|
|Mesh,Cricket, Bad...|      45128|
|Mesh,Cricket, Bad...|      45127|
|SOCKS Running Sho...|      43374|
|Running Shoes For...|      42503|
|Combo Pack of 2 C...|      35264|
|  SFG-204 Flip Flops|      35161|
|Climber Boots For...|      33445|
|Climber Boots For...|      33443|
|Casuals For Men  ...|      32724|
+--------------------+-----------+
only showing top 20 rows